.container{
    position: relative;
    top: -1px;
    padding-top: 120px;
    min-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    color: var(--lavender-haze);
    background-color: var(--black);
    /* padding-bottom: 20vh; */
    margin-bottom: -2px;
}

.aboutMe{
    position: absolute;
    top: 50;
    left: 50;
}

.heading{
    border-top: 1px solid var(--lavender-haze);
    border-bottom: 1px solid var(--lavender-haze);
    transform: rotate(-5deg);
}

.heroImage{
    display: block;
}

.sectionContainer{
    margin-top: 20vh;
    padding: 0 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

@media screen and (max-width: 768px) {
	.sectionContainer{
        display: block;
        padding: 0 30px;
        margin-top: 5vh;
    }

    .heroImage{
        display: none;
    }
}