.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 50px;
    color: var(--white);
    gap: 15px;
    background-color: var(--black);
}

.subtitle, .title{
    padding: 0;
    margin: 0
}

.title{
    color: var(--lavender-haze)
}

.links{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
}

.copyRight{
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid var(--lavender-haze);
    letter-spacing: 2px;
    font-size: 10px;
}

@media screen and (max-width: 768px) {
	.links{
        flex-direction: column;
        gap: 10px
    }
}