.cursor{
    border: 1px solid var(--lavender-haze);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999999;
}
