@font-face {
	font-family: 'Moon Dream';
	/* src: url('../assets/fonts/Moon\ Dream.otf'); */
	src: url('../assets/fonts/Maghony.ttf');

}

@font-face {
	font-family: 'Daniel';
	src: url('../assets/fonts/GrtskMega.ttf');
	
}

@font-face {
	font-family: 'Helvetica';
	src: url('../assets/fonts/HelveticaNeueLTPro-Roman.otf');
	
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: 'Daniel', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
	--lavender-haze: #8f93f8;
	--green: #008f57;
	--pink: #e5b5e2;
	--orange: #fe9d6d;
	--white: #fff;
	--black:#1a1a1a;
	margin: 0;
	--color-text: var(--black);
	--color-bg: var(--black);
	--color-bg-white: #fffeef;
	--color-link: #d6af7c;
	--color-link-hover: #fff;
	--color-text-circle-1: var(--lavender-haze);
	--color-text-circle-2: var(--lavender-haze);
	--color-text-circle-3: var(--lavender-haze);
	--color-text-circle-4: var(--lavender-haze);
	--font-circle-1: 'Moon Dream', sans-serif;
	--font-weight-circle-1: 300;
	--font-circle-2: 'Moon Dream', serif;
	--font-weight-circle-2: 400;
	--font-circle-3: 'Moon Dream', sans-serif;
	--font-weight-circle-3: 400;
	--font-circle-4: 'Moon Dream', serif;
	--font-weight-circle-4: 300;
	--color-button: var(--lavender-haze);
	--color-text-button: var(--black);
	--dim-button: 90px;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

h1, h2, h3, h4, h5, p{
	cursor: default;
}


h1, h2, h3{
	font-family: 'Daniel', sans-serif;
}

h5{
	font-family: 'Daniel', sans-serif;
	font-weight: 200;
	line-height: 1.5rem;
	letter-spacing: -1.5px;
	font-size: 18px;
}

p{
	font-family: 'Helvetica', sans-serif;
	font-weight: 200;
	line-height: 1.5rem;
}

h1{
	font-size: 100px;
	line-height: 80px;
	text-transform: uppercase;
}

h2{
	font-size: 80px;
	line-height: 80px;
	text-transform: uppercase;
}

h3{ 
	font-size: 40px;
	line-height: 80px;
}

h4{
	font-size: 20px;
	line-height: 20px;
}

button{
	background-color: var(--pink);
	color: var(--black);
	border: 1px solid var(--black);
	font-family: 'Daniel', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	width: fit-content;
	font-size: 20px;
	padding: 20px 50px;
	width: fit-content;
	border-radius: 50%;
	cursor: none;
}

.overlay {
	grid-area: 1 / 1 / 2 / 2;
	position: absolute;
	z-index: 2000;
	pointer-events: none;
	width: 100%;
	height: 100vh;
}

.scroll-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	will-change: transform;
}


.parallax {
	letter-spacing: -2px;
	line-height: 0.8;
	margin: 0;
	white-space: nowrap;
	display: flex;
	flex-wrap: nowrap;
}
  
.parallax .scroller {
	font-weight: 600;
	display: flex;
	white-space: nowrap;
	display: flex;
	flex-wrap: nowrap;
}

.scroller h1{
	margin: 20px;
}

.logo-container{
	position: fixed;
	top: 0;
	padding:  10px 30px;
	z-index: 1000;
	font-family: 'Moon Dream', sans-serif;
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.link-wrapper{
	position: relative;
	width: fit-content;
	padding-bottom: 3px;
	color: var(--white);
	text-transform: uppercase;
}

.underline {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 0; 
    height: 1px;
    background-color: var(--white);
}

.nav-links p{
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 768px) {
	h1{	
		font-size: 50px;
		line-height: 50px;
	}

	h2{
		font-size: 40px;
		line-height: 40px;
	}

	p{
		font-size: 12px;
		line-height: 18px;
	}
	
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
