.circles {
	pointer-events: none;
	position: fixed;
	 --dim: 186vmin;
	width: var(--dim);
	height: var(--dim);
	top: calc(50% - var(--dim) / 2 );
	left: calc(50% - var(--dim) / 2 );
}

.circlesText {
	text-transform: uppercase;
	transform-origin: 700px 700px;
	will-change: transform, opacity;
}

.circlesText1 {
	font-size: 25vmin;
	font-size: clamp(170px,25vmin,180px);
	font-family: var(--font-circle-1);
	font-weight: var(--font-weight-circle-1);
	fill: var(--color-text-circle-1);
}

.circlesText2 {
	font-size: 17vmin;
	font-size: clamp(136px,17vmin,153px);
	font-family: var(--font-circle-2);
	font-weight: var(--font-weight-circle-2);
	fill: var(--color-text-circle-2);
}

.circlesText3 {
	font-size: 13.5vmin;
	font-size: clamp(110px,13.5vmin,120px);
	font-family: var(--font-circle-3);
	font-weight: var(--font-weight-circle-3);
	fill: var(--color-text-circle-3);
}

.circlesText4 {
	font-size: 9.5vmin;
	font-size: clamp(85px,9.5vmin,94px);
	font-family: var(--font-circle-4);
	font-weight: var(--font-weight-circle-4);
	fill: var(--color-text-circle-4);
}

.enter {
	display: block;
	border: 0;
	width: var(--dim-button);
	height: var(--dim-button);
	position: absolute;
	left: calc(50% - var(--dim-button) / 2 );
	top: calc(50% - var(--dim-button) / 2 );
	font: inherit;
	font-weight: 500;
	cursor: pointer;
	background: none;
	color: var(--color-text-button);
	padding: 0;
    z-index: 100;
}

.enter:focus,
.enter:hover,
.enter:active {
	outline: none;
}

.enterBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: var(--color-button);
}

.enterText {
	position: relative;
	font-family: 'Moon Dream', sans-serif;
	text-transform: lowercase;
}