.detailedContent{
	/*opacity: 0;*/
	will-change: clip-path;
    position: relative;
    background-color: var(--black);
}

.projectImageWrapperOuter{
    align-self: center;
	justify-self: center;
	width: 60vw;
	max-width: 800px;
	justify-self: center;
	grid-area: 1 / 1 / -1 / -1;
    height: 80%;
	width: 36vw;
	aspect-ratio: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectImageWrapper{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	will-change: transform;
}

.imageOverlay{
    position: absolute;
    background-color: var(--black);
    opacity: 0.5;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.projectImage {
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
	will-change: transform;
}

.projectTitle{
	padding-top: 1vw;
    z-index: 2;
    position: absolute;
    width: 100vw;
    text-align: center;
        top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectTitle h3{
    font-size: clamp(2rem, 7vw, 17rem);
	font-family: 'Moon Dream', sans-serif;
	font-weight: 300;
    margin: 0;
	line-height: 1;
    text-transform: uppercase;
}

.projectLink{
    font-family: 'Daniel', sans-serif;
    text-transform: uppercase;
    z-index: 99999999999;
    cursor:grab;
}